In [25]:
## Fill each each function stub according to the docstring.
## Run the tests with this command: "make test"

import numpy as np
import pandas as pd
import requests
from collections import Counter,defaultdict
from itertools import izip, count
import requests
import json

In [30]:
### Python
def count_characters(string):
    '''
    INPUT: STRING
    OUTPUT: DICT (STRING => INT)

    Return a dictionary which contains a count of the number of times each
    character appears in the string.
    Characters which would have a count of 0 should not need to be included in
    your dictionary.
    '''
    count = Counter(string)
    return count

In [31]:
count_characters('This is a test string')

Counter({' ': 4, 's': 4, 'i': 3, 't': 3, 'a': 1, 'e': 1, 'g': 1, 'h': 1, 'n': 1, 'r': 1, 'T': 1})

In [47]:
def invert_dictionary(d):
    '''
    INPUT: DICT (STRING => INT)
    OUTPUT: DICT (INT => SET OF STRINGS)

    Given a dictionary d, return a new dictionary with d's values as keys and
    the value for a given key being the set of d's keys which have the same
    value.
    e.g. {'a': 2, 'b': 4, 'c': 2} => {2: {'a', 'c'}, 4: {'b'}}
    '''

    dInv = defaultdict(set)
    for k,v in d.iteritems():
        dInv[v].update(set(k))
        
    return dInv

In [48]:
invert_dictionary({'a': 2, 'b': 4, 'c': 2})

defaultdict(<type 'set'>, {2: set(['a', 'c']), 4: set(['b'])})

In [57]:
def word_count(filename):
    '''
    INPUT: STRING
    OUTPUT: (INT, INT, INT)

    filename refers to a text file.
    Return a tuple containing these stats for the file in this order:
      1. number of lines
      2. number of words (broken by whitespace)
      3. number of characters
    '''
    lines = 0
    words = 0
    letters = 0
    with open(filename) as fh:
        keep_lines = fh.readlines()
        
    for line in keep_lines:
        lines += 1
        for word in line.split(' '):
            words += 1
            
        for letter in line:
            letters += 1
        
    return (lines, words, letters)

In [59]:
# word_count('/Users/bfetters/projects/gU/DSCI6002/w2/6002-assessment-1_PRACTICE/data/alice.txt')

In [200]:
def matrix_multiplication(A, B):
    '''
    INPUT: LIST OF LIST OF INTEGERS, LIST OF LIST OF INTEGERS
    OUTPUT: LIST OF LIST of INTEGERS

    A and B are matrices with integer values, encoded as lists of lists:
    e.g. A = [[2, 3, 4], [6, 4, 2], [-1, 2, 0]] corresponds to the matrix:
    | 2  3  4 | | 2  3  4 |
    | 6  4  2 | | 6  4  2 |
    |-1  2  0 | |-1  2  0 |
    Return the matrix which is the product of matrix A and matrix B.
    You may assume that A and B are square matrices of the same size.
    
    You may not use numpy. Write your solution in straight python.
    '''
#     for i in xrange(len(A)):
#         row = 0
#         for j in xrange(len(A)):
#             print j,i,row,A[i][j],B[j][i]
#             row += A[i][j]*B[j][i]
#         print row
#         result.append(row)

    result = [[0, 0, 0], [0, 0, 0], [0, 0, 0]]
    # iterate through rows of A
    for i in range(len(A)):
        # iterate through columns of B
        for j in range(len(B[0])):
            # iterate through rows of B
            for k in range(len(B)):
                result[i][j] += A[i][k] * B[k][j]
                
    return result

In [201]:
matrix_multiplication(A,B)

[[18, 26, 14], [34, 38, 32], [10, 5, 0]]

In [203]:
def max_lists(list1, list2):
    '''
    INPUT: list, list
    OUTPUT: list

    list1 and list2 have the same length. Return a list which contains the
    maximum element of each list for every index.
    '''
    max_list = []
    for i in zip(list1, list2):
        max_list.append(max(i[0],i[1]))
    return max_list

In [204]:
max_lists([1,5,3],[7,1,2])

[7, 5, 3]

In [221]:
def get_diagonal(mat):
    '''
    INPUT: 2 dimensional list
    OUTPUT: list

    Given a matrix encoded as a 2 dimensional python list, return a list
    containing all the values in the diagonal starting at the index 0, 0.

    E.g.
    mat = [[1, 2], [3, 4], [5, 6]]
    | 1  2 |
    | 3  4 |
    | 5  6 |
    get_diagonal(mat) => [1, 4]

    You may assume that the matrix is nonempty.
    '''
    diagonal = []
    for i in xrange(len(mat)):
        print i
        diagonal.append(mat[i][i])
    return diagonal

In [222]:
mat = [[1, 2, 3], [3, 4, 1], [5, 6, 3]]
get_diagonal(mat)

0
1
2

[1, 4, 3]

In [223]:
def merge_dictionaries(d1, d2):
    '''
    INPUT: dictionary, dictionary
    OUTPUT: dictionary

    Return a new dictionary which contains all the keys from d1 and d2 with
    their associated values. If a key is in both dictionaries, the value should
    be the sum of the two values.
    '''
    keys = set(d1.keys()) | set(d2.keys())
    return dict((key, d1.get(key, 0) + d2.get(key, 0)) for key in keys)

In [224]:
d1 = {'a': 1, 'b': 2, 'c': 3}
d2 = {'c': 4, 'd': 5, 'e': 6}
merge_dictionaries(d1,d2)

{'a': 1, 'b': 2, 'c': 7, 'd': 5, 'e': 6}

In [255]:
def make_char_dict(filename):
    '''
    INPUT: string
    OUTPUT: dictionary (string => list)

    Given a file containing strings, you would like to create a dictionary with keys
    of single characters. The value is a list of all the line numbers which
    start with that letter. The first line should have line number 1.
    Characters which never are the first letter of a line do not need to be
    included in your dictionary.
    '''
    with open(filename) as fh:
        keep_lines = fh.readlines()
     
    my_dict = {}
    for i,line in enumerate(keep_lines):
        if line[0] in my_dict:
            my_dict[line[0]].append(i + 1)
        else:
            my_dict[line[0]] = [i + 1]
    return my_dict

In [256]:
make_char_dict('/Users/bfetters/projects/gU/DSCI6002/w2/6002-assessment-1_PRACTICE/data/alice.txt')

{"'": [7],
 'A': [1, 11, 14],
 'D': [8, 10],
 'E': [6],
 'H': [17],
 'I': [4, 16],
 'P': [9],
 'S': [2, 13],
 'T': [3, 5, 12, 15]}

In [257]:
### NumPy

def array_work(rows, cols, scalar, matrixA):
    '''
    INPUT: INT, INT, INT, NUMPY ARRAY
    OUTPUT: NUMPY ARRAY

    Create matrix of size (rows, cols) with the elements initialized to the
    scalar value. Right multiply that matrix with the passed matrixA (i.e. AB,
    not BA). 
    Return the result of the multiplication.
    You should be able to accomplish this in a single line.

    Ex: array_work(2, 3, 5, [[3, 4], [5, 6], [7, 8]])
           [[3, 4],      [[5, 5, 5],
            [5, 6],   *   [5, 5, 5]]
            [7, 8]]
    '''
    B = np.linspace(scalar,scalar, rows*cols).reshape(rows,cols)
    return np.dot(matrixA,B)

In [258]:
array_work(2, 3, 5, [[3, 4], [5, 6], [7, 8]])

array([[ 35.,  35.,  35.],
       [ 55.,  55.,  55.],
       [ 75.,  75.,  75.]])

In [301]:
def boolean_indexing(arr, minimum):
    '''
    INPUT: NUMPY ARRAY, INT
    OUTPUT: NUMPY ARRAY

    Returns an array with all the elements of "arr" greater than
    or equal to "minimum"

    Ex:
    In [1]: boolean_indexing([[3, 4, 5], [6, 7, 8]], 7)
    Out[1]: array([7, 8])
    '''
    result = []
    for row in xrange(len(arr)):
        for column in xrange(len(arr[0])):
            if arr[row][column] >= minimum:
                result.append(arr[row][column])
    return result

In [302]:
boolean_indexing([[3, 4, 5], [6, 7, 8]], 7)

[7, 8]

In [315]:
### Pandas

def make_series(start, length, index):
    '''
    INPUT: INT, INT, LIST
    OUTPUT: PANDAS SERIES

    Create a pandas Series of length "length"; its elements should be
    sequential integers starting from "start". 
    The series' index should be "index". 

    Ex: 
    In [1]: make_series(5, 3, ['a', 'b', 'c'])
    Out[1]: 
    a    5
    b    6
    c    7
    dtype: int64
    '''
    lst = []
    for l in xrange(start,start+length):
        lst.append(l)
     
    ser = pd.Series(data=lst,index=index)
    return ser

In [316]:
make_series(5, 3, ['a', 'b', 'c'])

a    5
b    6
c    7
dtype: int64

In [317]:
def data_frame_work(df, colA, colB, colC):
    '''
    INPUT: DATAFRAME, STR, STR, STR
    OUTPUT: None
    
    Insert a column (colC) into the dataframe that is the sum of colA and colB.
    '''
    df[colC] = df[colA] + df[colB]

In [ ]:
# For each of these, you will be dealing with a DataFrame which contains median
# rental prices in the US by neighborhood. The DataFrame will have these
# columns:
# Neighborhood, City, State, med_2011, med_2014

def pandas_add_increase_column(df):
    '''
    INPUT: DataFrame
    OUTPUT: None

    Add a column to the DataFrame called 'Increase' which contains the 
    amount that the median rent increased by from 2011 to 2014.
    '''
    df['Increase'] = df.med_2014 - df.med_2011

def pandas_only_given_state(df, state):
    '''
    INPUT: DataFrame, string, string
    OUTPUT: DataFrame

    Return a new pandas DataFrame which contains the entries for the given
    state. Only include these columns:
        Neighborhood, City, med_2011, med_2014
    '''
    df_state = df[df['State'] == state]
    return df_state

In [385]:
def pandas_max_rent(df):
    '''
    INPUT: DataFrame
    OUTPUT: DataFrame

    Return a new pandas DataFrame which contains every city and the highest
    median rent from that city for 2011 and 2014.

    Note that city names are not unique and you need to use the state as well
    so that Portland, ME and Portland, OR are recognized as different.

    Your DataFrame should contain these columns:
        City, State, med_2011, med_2014
    '''
    df['CityState'] = df.City + df.State
    df_11 = df.drop(['Neighborhood','med_2014'],axis=1).sort(['med_2011'],ascending=False)
    df_11_grp = df_11.groupby(['CityState']).first()
    df_14 = df.drop(['Neighborhood','med_2011','City','State'],axis=1).sort(['med_2014'],ascending=False)
    df_14_grp = df_14.groupby(['CityState']).first()
    df_merged = df_11_grp.merge(df_14_grp, left_index="CityState", right_index="CityState")
    df_merged.reset_index()
    # df_merged.drop(['CityState'],axis=1)
    return df_merged

In [386]:
# df = pd.read_csv('/Users/bfetters/projects/gU/DSCI6002/w2/6002-assessment-1_PRACTICE/data/rent.csv')
# df['CityState'] = df.City + df.State
# df_11 = df.drop(['Neighborhood','med_2014'],axis=1).sort(['med_2011'],ascending=False)
# df_11_grp = df_11.groupby(['CityState']).first()
# df_14 = df.drop(['Neighborhood','med_2011','City','State'],axis=1).sort(['med_2014'],ascending=False)
# df_14_grp = df_14.groupby(['CityState']).first()
# df_merged = df_11_grp.merge(df_14_grp, left_index="CityState", right_index="CityState")
# df_merged.reset_index()
# # df_merged.drop(['CityState'],axis=1)
# df_merged.head()

In [387]:
pandas_max_rent(df)

                                  City State  med_2011  med_2014
CityState
AkronOH                          Akron    OH       690       725
AlbanyNY                        Albany    NY       NaN       952
AlbuquerqueNM              Albuquerque    NM      1099      1150
AlexandriaVA                Alexandria    VA      2155      2250
AmherstMA                      Amherst    MA       NaN       NaN
AnaheimCA                      Anaheim    CA      2005      2245
AnchorageAK                  Anchorage    AK       NaN      1995
ArlingtonTX                  Arlington    TX      1100      1300
ArlingtonVA                  Arlington    VA      2800      2796
AtlantaGA                      Atlanta    GA      2000      2450
AuburnWA                        Auburn    WA      1045      1375
AugustaGA                      Augusta    GA       826       955
AuroraCO                        Aurora    CO      1350      1400
AustinTX                        Austin    TX      1799      2800
BakersfieldCA              Bakersfield    CA       NaN      1550
BaltimoreMD                  Baltimore    MD      2100      2210
BeavertonOR                  Beaverton    OR       925      1167
BellevueWA                    Bellevue    WA      2290      2550
BellinghamWA                Bellingham    WA       879       710
BendOR                            Bend    OR       NaN      1200
BoiseID                          Boise    ID      1200       975
BostonMA                        Boston    MA      3050      3500
BoulderCO                      Boulder    CO      2500      2490
BranfordCT                    Branford    CT      1100       975
BuffaloNY                      Buffalo    NY       625      1000
CambridgeMA                  Cambridge    MA      2688      3000
ChandlerAZ                    Chandler    AZ      1695      1900
CharlotteNC                  Charlotte    NC      1500      1550
CharlottesvilleVA      Charlottesville    VA       875      1195
ChesapeakeVA                Chesapeake    VA      1400      1950
...                                ...   ...       ...       ...
Satellite BeachFL      Satellite Beach    FL       975      1050
ScottsdaleAZ                Scottsdale    AZ      3000      3000
SeattleWA                      Seattle    WA      2195      2450
ShreveportLA                Shreveport    LA       815      1050
South BendIN                South Bend    IN       NaN       650
SpartaNJ                        Sparta    NJ      2200      2200
SpokaneWA                      Spokane    WA       660      1400
SpringfieldMA              Springfield    MA       990      1100
StamfordCT                    Stamford    CT      3900      4000
StocktonCA                    Stockton    CA      1500      1500
SunnyvaleCA                  Sunnyvale    CA       NaN      2750
SyracuseNY                    Syracuse    NY       NaN       700
TacomaWA                        Tacoma    WA      1195      1375
TampaFL                          Tampa    FL      2029      2000
TempeAZ                          Tempe    AZ       825      1195
ToledoOH                        Toledo    OH       724       750
TorranceCA                    Torrance    CA      1275      2695
Town of MadisonWI      Town of Madison    WI      1745      1645
TrentonNJ                      Trenton    NJ       900      1062
TucsonAZ                        Tucson    AZ      1050      1250
TulsaOK                          Tulsa    OK       NaN      1850
VancouverWA                  Vancouver    WA       720      1350
Virginia BeachVA        Virginia Beach    VA      1725      1975
WashingtonDC                Washington    DC      5000      3250
West Palm BeachFL      West Palm Beach    FL      4000      3000
Westhampton BeachNY  Westhampton Beach    NY     65000     53900
WeymouthMA                    Weymouth    MA      1124      1415
WichitaKS                      Wichita    KS       550       925
WynnewoodPA                  Wynnewood    PA       NaN       NaN
YoungstownOH                Youngstown    OH       NaN       500

[177 rows x 4 columns]

In [388]:
# APIs
def api_parse(url):
    """
    INPUT: STR (URL)
    OUTPUT: INTEGER (Number of links in Wikipedia article)
    
    Create a function that given a URL of a particular Wikipedia article,
    returns the number of links in that article as seen by the API.
    """
    
    headers = {'user_agent': 'DataWrangling/1.1 (http://galvanize.it; class@galvanize.it)'}

    # your code here
    r = requests.get(url)
    
    return 0

In [404]:
r = requests.get('http://en.wikipedia.org/w/api.php?format=json&action=query&titles=Main%20Page&prop=revisions&rvprop=content')
r_json = json.loads(r.content)
r_json.get('query')

{u'pages': {u'15580374': {u'ns': 0,
   u'pageid': 15580374,
   u'revisions': [{u'*': u'<!--        BANNER ACROSS TOP OF PAGE        -->\n{| id="mp-topbanner" style="width:100%; background:#f9f9f9; margin:1.2em 0 6px 0; border:1px solid #ddd;"\n| style="width:61%; color:#000;" |\n<!--        "WELCOME TO WIKIPEDIA" AND ARTICLE COUNT        -->\n{| style="width:280px; border:none; background:none;"\n| style="width:280px; text-align:center; white-space:nowrap; color:#000;" |\n<div style="font-size:162%; border:none; margin:0; padding:.1em; color:#000;">Welcome to [[Wikipedia]],</div>\n<div style="top:+0.2em; font-size:95%;">the [[free content|free]] [[encyclopedia]] that [[Wikipedia:Introduction|anyone can edit]].</div>\n<div id="articlecount" style="font-size:85%;">[[Special:Statistics|{{NUMBEROFARTICLES}}]] articles in [[English language|English]]</div>\n|}\n<!--        PORTAL LIST ON RIGHT-HAND SIDE        -->\n| style="width:13%; font-size:95%;" |\n* [[Portal:Arts|Arts]]\n* [[Portal:Biography|Biography]]\n* [[Portal:Geography|Geography]]\n| style="width:13%; font-size:95%;" |\n* [[Portal:History|History]]\n* [[Portal:Mathematics|Mathematics]]\n* [[Portal:Science|Science]]\n| style="width:13%; font-size:95%;" |\n* [[Portal:Society|Society]]\n* [[Portal:Technology|Technology]]\n* \'\'\'[[Portal:Contents/Portals|All portals]]\'\'\'\n|}\n<!--        MAIN PAGE BANNER        -->\n{{#if:{{Main Page banner}}|\n<table id="mp-banner" style="width: 100%; margin:4px 0 0 0; background:none; border-spacing: 0px;">\n<tr><td class="MainPageBG" style="padding:2px 8px; background-color:#fffaf5; border:1px solid #f2e0ce; color:#000; font-size:100%;">{{Main Page banner}}\n</td></tr>\n</table>\n}}\n<!--        TODAY\'S FEATURED CONTENT        -->\n{| id="mp-upper" style="width: 100%; margin:4px 0 0 0; background:none; border-spacing: 0px;"\n<!--        TODAY\'S FEATURED ARTICLE; DID YOU KNOW        -->\n| class="MainPageBG" style="width:55%; border:1px solid #cef2e0; background:#f5fffa; vertical-align:top; color:#000;" |\n{| id="mp-left" style="width:100%; vertical-align:top; background:#f5fffa;"\n| style="padding:2px;" | <h2 id="mp-tfa-h2" style="margin:3px; background:#cef2e0; font-family:inherit; font-size:120%; font-weight:bold; border:1px solid #a3bfb1; text-align:left; color:#000; padding:0.2em 0.4em;">{{#ifexpr:{{formatnum:{{PAGESIZE:Wikipedia:Today\'s featured article/{{#time:F j, Y}}}}|R}}>150|From today\'s featured article|Featured article <span style="font-size:85%; font-weight:normal;">(Check back later for today\'s.)</span>}}</h2>\n|-\n| style="color:#000;" | <div id="mp-tfa" style="padding:2px 5px">{{#ifexpr:{{formatnum:{{PAGESIZE:Wikipedia:Today\'s featured article/{{#time:F j, Y}}}}|R}}>150|{{Wikipedia:Today\'s featured article/{{#time:F j, Y}}}}|{{Wikipedia:Today\'s featured article/{{#time:F j, Y|-1 day}}}}}}</div>\n|-\n| style="padding:2px;" | <h2 id="mp-dyk-h2" style="margin:3px; background:#cef2e0; font-family:inherit; font-size:120%; font-weight:bold; border:1px solid #a3bfb1; text-align:left; color:#000; padding:0.2em 0.4em;">Did you know...</h2>\n|-\n| style="color:#000; padding:2px 5px 5px;" | <div id="mp-dyk">{{Did you know}}</div>\n|}\n| style="border:1px solid transparent;" |\n<!--        IN THE NEWS; ON THIS DAY        -->\n| class="MainPageBG" style="width:45%; border:1px solid #cedff2; background:#f5faff; vertical-align:top;"|\n{| id="mp-right" style="width:100%; vertical-align:top; background:#f5faff;"\n| style="padding:2px;" | <h2 id="mp-itn-h2" style="margin:3px; background:#cedff2; font-family:inherit; font-size:120%; font-weight:bold; border:1px solid #a3b0bf; text-align:left; color:#000; padding:0.2em 0.4em;">In the news</h2>\n|-\n| style="color:#000; padding:2px 5px;" | <div id="mp-itn">{{In the news}}</div>\n|-\n| style="padding:2px;" | <h2 id="mp-otd-h2" style="margin:3px; background:#cedff2; font-family:inherit; font-size:120%; font-weight:bold; border:1px solid #a3b0bf; text-align:left; color:#000; padding:0.2em 0.4em;">On this day...</h2>\n|-\n| style="color:#000; padding:2px 5px 5px;" | <div id="mp-otd">{{Wikipedia:Selected anniversaries/{{#time:F j}}}}</div>\n|}\n|}\n<!--        TODAY\'S FEATURED LIST        --><!-- CONDITIONAL SHOW -->{{#switch:{{CURRENTDAYNAME}}|Monday|Friday=\n<table id="mp-middle" style="width:100%; margin:4px 0 0 0; background:none; border-spacing: 0px;">\n<tr>\n<td class="MainPageBG" style="width:100%; border:1px solid #f2cedd; background:#fff5fa; vertical-align:top; color:#000;">\n<table id="mp-center" style="width:100%; vertical-align:top; background:#fff5fa; color:#000;">\n<tr>\n<td style="padding:2px;"><h2 id="mp-tfl-h2" style="margin:3px; background:#f2cedd; font-family:inherit; font-size:120%; font-weight:bold; border:1px solid #bfa3af; text-align:left; color:#000; padding:0.2em 0.4em">From today\'s featured list</h2></td>\n</tr><tr>\n<td style="color:#000;"><div id="mp-tfl" style="padding:2px 5px;">{{#ifexist:Wikipedia:Today\'s featured list/{{#time:F j, Y}}|{{Wikipedia:Today\'s featured list/{{#time:F j, Y}}}}|{{TFLempty}}}}</div></td>\n</tr>\n</table>\n</td>\n</tr>\n</table>|}}<!-- END CONDITIONAL SHOW -->\n<!--        TODAY\'S FEATURED PICTURE        -->\n{| id="mp-lower" style="margin:4px 0 0 0; width:100%; background:none; border-spacing: 0px;"\n| class="MainPageBG" style="width:100%; border:1px solid #ddcef2; background:#faf5ff; vertical-align:top; color:#000;" |\n{| id="mp-bottom" style="width:100%; vertical-align:top; background:#faf5ff; color:#000;"\n| style="padding:2px;" | <h2 id="mp-tfp-h2" style="margin:3px; background:#ddcef2; font-family:inherit; font-size:120%; font-weight:bold; border:1px solid #afa3bf; text-align:left; color:#000; padding:0.2em 0.4em">{{#ifexist:Template:POTD protected/{{#time:Y-m-d}}|Today\'s featured picture | Featured picture&ensp;<span style="font-size:85%; font-weight:normal;">(Check back later for today\'s.)</span>}}</h2>\n|-\n| style="color:#000; padding:2px;" | <div id="mp-tfp">{{#ifexist:Template:POTD protected/{{#time:Y-m-d}}|{{POTD protected/{{#time:Y-m-d}}}}|{{POTD protected/{{#time:Y-m-d|-1 day}}}}}}</div>\n|}\n|}\n<!--        SECTIONS AT BOTTOM OF PAGE        -->\n<div id="mp-other" style="padding-top:4px; padding-bottom:2px;">\n== Other areas of Wikipedia ==\n{{Other areas of Wikipedia}}\n</div><div id="mp-sister">\n== Wikipedia\'s sister projects ==\n{{Wikipedia\'s sister projects}}\n</div><div id="mp-lang">\n== Wikipedia languages ==\n{{Wikipedia languages}}\n</div>\n<!--        INTERWIKI STRAPLINE        -->\n<noinclude>{{Main Page interwikis}}{{noexternallanglinks}}{{#if:{{Wikipedia:Main_Page/Tomorrow}}||}}</noinclude>__NOTOC____NOEDITSECTION__',
     u'contentformat': u'text/x-wiki',
     u'contentmodel': u'wikitext'}],
   u'title': u'Main Page'}}}

In [389]:
api_parse('http://en.wikipedia.org/w/api.php?format=json&action=query&titles=Main%20Page&prop=revisions&rvprop=content')

<Response [200]>

0

In [ ]:
def pymongo_count(collection):
    '''
    INPUT: pymongo collection object
    OUTPUT: INTEGER

    return the number of mongoDB documents
    that have EXACTLY than 1 'links'.
    
    example use to inspect the schema of one document:


    collection.find_one({})
    '''

    return 0